<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>Cake Builder</title> 
  <link rel="stylesheet" type="text/css" href="/../../stylesheets/show.css">

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 
<nav>
    <div class="nav-wrapper grey lighten-5">
      <span class="logoname">Logo</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="navlinks" href="sass.html">workout</a></li>
        <li><a class="navlinks" href="badges.html">Search</a></li>
        <li><a class="navlinks" href="collapsible.html">Signout</a></li>
      </ul>
    </div>
  </nav>

  

  <div class="container center-align right"> 
   <section class="users-info">
   <form action="/users/<%= user._id %>?_method=PUT" method="POST">  
    <div class="row">
      <span class="edit-profile left">edit profile</span>
    <div class="input-field col s12"> 
      name: <input placeholder="<%= user.username %>" name="username">
    </div>
    <div class="input-field col s12"> 
    profile photo:
    <input placeholder="<%= user.photo %>" name="photo" id="photo" >
  </div>

    <div class="input-field col s12">
      weight: <input placeholder="<%=user.weight %>" name="weight">
    </div>
    <div class="input-field col s12"> 
      status: <input placeholder="<%= user.status %>" name="status">
    </div>
    <div class="input-field col s12"> 
      gym: <input placeholder="<%= user.gym %>" name="gym"> 
    </div>
    <div class="input-field col s6"> 
      goals: <textarea placeholder="<%= user.goals %>" name="goals"></textarea>
    </div>
     <input type="submit" value="save changes">
  </div>
</form>
</section>
</div>

<footer class="page-footer grey darken-2">
          <div class="container">
            <div class="row sticky">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>




</body>
</html>